<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :email %><br />
	<%= f.text_field :email %>
</div>
<div class="field">
	<%= f.label :password %><br />
	<%= f.password_field :password %>
</div>
<div class="field">
	<%= f.label :password_confirmation, "Confirmation" %><br />
	<%= f.password_field :password_confirmation %>
</div>
<div>
	[Optional] If you don't already have a Global Avatar image from Gravatar, please click <a href="http://gravatar.com/site/signup" target="_blak">here</a> to upload your photo.
</div>